
module pdns-dynrev 1.0;

require {
	type bin_t;
	type pdns_t;
	class file { execute execute_no_trans map };
}

#============= pdns_t ==============
allow pdns_t bin_t:file { execute execute_no_trans };

#!!!! This avc can be allowed using the boolean 'domain_can_mmap_files'
allow pdns_t bin_t:file map;
